body{
  background-color:palegreen;
}

h2{
  color:midnightblue ;
  text-align: center;
  font-size: xx-large;
}

#amount{ 
  background-color:rgb(80, 255, 133);
  margin: 0 0 10px 0;
}

#date{ 
  background-color:rgb(80, 255, 133);
  margin: 0 0 10px 0;
}

#location{ 
  background-color:rgb(80, 255, 133);
  margin: 0 0 10px 0;
}

#description{ 
  background-color:rgb(80, 255, 133);
  margin: 0 0 10px 0;
}

#submit{
  background-color: darkturquoise;
  color: white;
  display: inline-flex;
  border-radius: 36px;
  font-style: initial;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

table{
  border-collapse: collapse;
}

th{
  border: 3px solid darkorange;
  padding: 0.5rem;
  text-align: left;
  background-color: yellow;
}

tr{
  border: 3px solid darkorange;
  padding: 0.5rem;
  text-align: left;
  background-color: yellow;
  border-collapse: collapse;
}

button{
  background-color:red;
  color: white;
  display: inline-flex;
  border-radius: 36px;
  font-style: initial;
  float: right;
}
